<div [@routerTransition]>
  <app-page-header [heading]="'Drivers'" [icon]="'fa-id-badge'"></app-page-header>
  <button type="button" class="btn btn-primary mr-2" placement="top" ngbTooltip="You've added {{drivers}} drivers on our system.">
    Number of Drivers&nbsp;&nbsp;<span class="badge badge-light">{{ drivers }}</span>
  </button>
  <button type="button" class="btn btn-primary mr-2 float-right" placement="top" ngbTooltip="Click here to add a driver.">
    Add Drivers&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <div class="row card-group">
    <div style="margin-top:10px;" class="col-sm-4" *ngFor="let driver of driverDetails">
    <div class="card">
      <div class="card-header">
        Driver Profile Summary
      </div>
      <img class="card-img-top image-center" src={{driver.driverImgSrc}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ driver.driverName }}</h5>
        <hr>
        <div class="card-text">
          <b>{{ driver.driverName }}&nbsp;</b>{{ driver.driverAbout }}
        </div>
        <hr>
        <div class="card-text">
          Licence Number: <b>{{ driver.driverLicence }}</b>
        </div>
        <hr>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Driver Details</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross Click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Name:&nbsp;</label><b>{{ driver.driverName }}</b><br>
            <label>About:&nbsp;</label><b>{{ driver.driverName }}&nbsp;{{ driver.driverAbout }}</b><br>
            <label>Licence No.:&nbsp;</label><b>{{ driver.driverLicence }}</b>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" (click)="modal.close('Close Click')">Close</button>
          </div>
        </ng-template>
        <button type="button" class="btn btn-outline-primary btn-block" (click)="openVerticallyCentered(content)">See more about {{ driver.driverName }}</button>
      </div>
    </div>
  </div>
  </div>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="size" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"></ngb-pagination>
  <div style="margin-top:5px" class="card-header"><b>You're in page: {{page}}</b></div>
</div>
