<div [@routerTransition]>
  <app-page-header [heading]="'Profile'" [icon]="'fa-bar-chart-o'"></app-page-header>
  <div class="row">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <div class="card card-user">
            <div class="image">
              <img src="assets/images/background.jpg" alt="..."/>
            </div>
            <div class="content">
              <div class="author">
                <img class="avatar border-white" src="assets/images/faces/face-2.jpg" alt="..."/>
                <h4 class="title">{{UserName}}
                  <i *ngIf="verified" class="fa fa-check-circle" aria-hidden="true" style="color: rgb(134, 128, 67);"></i>
                </h4>
              </div>
              <p class="description text-center">
               <b>"labour et honor"</b>
              </p>
            </div>
            <hr>
            <div class="text-center">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <h5>12<br /><small>Trips</small></h5>
                </div>
                <div class="col-md-4">
                  <h5>2<br /><small>No. of Trucks</small></h5>
                </div>
                <div class="col-md-4">
                  <h5>97.5k<br /><small>Earnings</small></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="header">
              <h4 class="title">Drivers</h4>
            </div>
            <div class="content">
              <ul class="list-unstyled team-members">
                <li>Driver 1 <small>On Trip</small></li>
                <li>Driver 2 <small>Offline</small></li>  
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="card">
            <div class="card-header">
              <h4 class="title">Profile</h4>
            </div>
            <div class="content">
              <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Name:</label>&nbsp;
                      <b>{{ UserName }}</b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Email Address:</label>&nbsp;
                      <b>{{ UserEmail }}</b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Company*</label>
                      <input type="text" class="form-control border-input" formControlName="companyName" placeholder="Company" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
                      <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                          <div *ngIf="f.companyName.errors.required">Company Name is required.</div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control border-input" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required.</div>
                          <div *ngIf="f.email.errors.email">Enter a valid email.</div>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Gender*</label>
                      <select class="form-control border-input" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                        <option *ngFor="let gender of Gender">{{ gender }}</option>
                      </select>
                      <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                        <div *ngIf="f.gender.errors.required">Please select gender.</div>
                        <div *ngIf="f.gender.errors.mustSelectType">Gender must be selected.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Date of Birth*</label>
                      <div class="input-group">
                        <input readonly class="form-control border-input" ngbDatepicker #i="ngbDatepicker" (click)="i.toggle()" formControlName="dob" placeholder="Date of Birth" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                        <div class="input-group-append">
                          <button type="button" class="form-control border-input btn btn-outline-secondary calendar" (click)="i.toggle()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                          <div *ngIf="f.dob.errors.required">Date of Birth is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Mobile Number*</label>
                      <input type="text" class="form-control border-input" formControlName="mobileNumber" placeholder="Mobile Number" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
                      <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Id Type*</label>
                      <select class="form-control border-input" formControlName="idType" [ngClass]="{ 'is-invalid': submitted && f.idType.errors }">
                        <option *ngFor="let idtype of idType">{{ idtype }}</option>
                      </select>
                      <div *ngIf="submitted && f.idType.errors" class="invalid-feedback">
                        <div *ngIf="f.idType.errors.required">Please select Id Type</div>
                        <div *ngIf="f.idType.errors.mustSelectType">Id Type must be selected.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>Id Number*</label>
                    <input type="text" class="form-control border-input" formControlName="idNumber" placeholder="Enter Id number" [ngClass]="{ 'is-invalid': submitted && f.idNumber.errors }">
                    <div *ngIf="submitted && f.idNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.idNumber.errors.required">Id Number is required.</div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label>Upload Id*</label>
                    <input type="file" class="form-control border-input" formControlName="id" [ngClass]="{ 'is-invalid': submitted && f.id.errors }">
                    <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
                        <div *ngIf="f.id.errors.required">Please upload your Id.</div>
                    </div>
                  </div>
                </div>
                <label>Address*</label>
                <div class="card content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Locality*</label>
                        <textarea rows="2" class="form-control border-input" formControlName="locality" placeholder="Locality [For e.g: Park Street Square]" [ngClass]="{ 'is-invalid': submitted && f.locality.errors }"></textarea>
                        <div *ngIf="submitted && f.locality.errors" class="invalid-feedback">
                            <div *ngIf="f.locality.errors.required">Locality is required.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Landmark*</label>
                        <textarea rows="2" class="form-control border-input" formControlName="landmark" placeholder="Landmark [For e.g: Near Rising Mall]" [ngClass]="{ 'is-invalid': submitted && f.landmark.errors }"></textarea>
                        <div *ngIf="submitted && f.landmark.errors" class="invalid-feedback">
                            <div *ngIf="f.landmark.errors.required">Landmark is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Country*</label>
                        <input type="text" class="form-control border-input" formControlName="country" placeholder="Country" [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div *ngIf="f.country.errors.required">Country is required.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>City*</label>
                        <input type="text" class="form-control border-input" formControlName="city" placeholder="City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <div *ngIf="f.city.errors.required">City is required.</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Postal Code*</label>
                        <input type="number" class="form-control border-input" formControlName="postalCode" placeholder="PinCode" [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }">
                        <div *ngIf="submitted && f.postalCode.errors" class="invalid-feedback">
                            <div *ngIf="f.postalCode.errors.required">Postal Code is required.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button [disabled]="loading" type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>