<div [@routerTransition]>
  <app-page-header [heading]="'Trips'" [icon]="'fa-truck'"></app-page-header>
  <div class="card">
    <div class="card-header">
      Ongoing Trips
    </div>
    <div class="card-body">
        You have no ongoing trips.
    </div>
  </div>

  <div style="margin: 10px 0;" class="card">
    <div class="card-header">
      Upcoming Trips
    </div>
    <div class="card-body">
      You don't have any upcoming trips.
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      Completed Trips
    </div>
    <div class="card-body">
      You haven't completed any trips.
    </div>
  </div>
</div>